
@font-face {
	font-family: din;
	src: url(Fonts/DIN2014-ExtraLight.ttf);
}

* {
	box-sizing: border-box;
	font-family: din;
}

body {
	color: #474044;
	background: linear-gradient(to right, #D1EFB5 0%, #D1EFB5 50%, pink 50%, pink 100%) ;
	/* font-family: Arial, Helvetica, sans-serif; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 100vh;
	transition: 0.25s;
}

.header {
	/* width: 80%; */
	font-size: 50px;
	/* padding-top: 20px; */
}

.scoreContainer {
	background-color: transparent;
	font-size: 50px;
	/* border-radius: 10px;
	width: 250px;
	padding: 30px;
	margin: 0px; */
}

#scorePlayer1 {
	text-transform: uppercase;
}

.areaPlayer1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	/* height: 40%; */
}

#rollText1 {
	font-size: 50px;
}

.imageContainer {
	display: none;
	padding: 100px;
	width: 500px;
	background: linear-gradient(to right, pink 0%, pink 50%, #D1EFB5 50%, #D1EFB5 100%);
}

#imagePlayer1 {
	width: 100%;
	height: auto;
}

.buttons {
	display: flex;
	flex-direction: column;
	width: 250px;
}

#playAgain {
	display: none;
}

button {
	color: #474044;
	background-color: transparent;
	font-size: 50px;
	/* font-family: Arial, Helvetica, sans-serif; */
	letter-spacing: 1px;
	border: none;
	border-radius: 10px;
	padding: 20px 30px;
	cursor: pointer;
}

button:hover {
	font-weight: bold;
}
